*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Amatic SC', cursive;
}

body{
    background-color: #2e2e1f;
    width: 100%;
}

div h1{
    text-align: center;
    margin-top: .25em;
    color:#00b300;
    text-shadow: 2px 2px 4px #001a00;
    font-size: 60px;
    
}

div h2{
    text-align: center;
    text-decoration-line: underline;
    margin-top: .25em;
    margin-bottom: 1.5em;
    font-size: 30px;
}

#ahorcado{
    margin-bottom: 2em;
    width: 80%;
    margin: auto;
}

#picture{
    overflow: hidden;
    margin-top: .5em;
    margin-bottom: 2em;
    max-width: 80%;
    position: relative;
    border: 2px solid black;
    border-radius: 10px;
    background-image: url("pizarron.jpg");
    background-repeat:no-repeat;
    background-color: #ccffcc;
    background-size:100% 100%;
}

#Ahorcado_imagenPatibulo {
    max-width: 40%;
    margin-left: 30%;
    margin-top: 2em;
    border: 2px solid black;
    border-radius: 10px;
}

div#ahorcado section {
  width: 100%;
  box-sizing: border-box;
  margin: auto;
}

#reiniciar{
    display: none;
    max-width: 100px;
    height: auto;
    padding-top:2px;
    border-radius: 5px;
    background-color: black;
    color:lime;
    text-align: center;
    margin: auto;
    margin-top: .5em;
    font-size: 30px;
    box-shadow:  0px 0px 5px 5px ;
    cursor: pointer;
}

#reiniciar:hover{
    color:black;
    background-color: lime;
    font-weight: bold;
}

div#ahorcado section.Ahorcado_teclado {
    display: block;
    width: 38%;
    margin-left: auto;
    margin-bottom: 2em;
    margin-top: .25em;
    
    
}

.Ahorcado_tecla{
     display: inline-block;
    font-size: 20px;
    font-weight: bold;
    border:2px solid black;
    border-radius: 5px;
    background-color: lime;
    width:30px;
    height: 30px;
    cursor: pointer;
  text-align: center;
}

.Ahorcado_tecla:hover{
    background-color:#0d0d0d;
    color:lime;
}

#Ahorcado_palabraBuscada {
  letter-spacing: 1em;
    text-align: center;
    margin-bottom: 2em;
    font-size: 30px;
    font-weight: bold;
    color:white;
}

.Ahorcado_teclaUsada{
  background-color: black;
  color: lime;
    font-weight: bold;
}

@media screen and (max-width: 768px){
    
    #ahorcado{
        width: 90%;
    }
    
    #picture{
    margin-top: .5em;
    margin-bottom: 2em;
    max-width: 100%;
    border-radius: 10px;

}
    
div#ahorcado section.Ahorcado_teclado {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-bottom: 2em;
    margin-top: .25em;  
    
}
    
    #Ahorcado_palabraBuscada {
  letter-spacing: 1em;
    text-align: center;
    margin-bottom: 2em;
    font-size: 12px;
    font-weight: bold;
}
    
    .Ahorcado_tecla{   
    width:50px;
    height: 50px;
   

}
 
    .Ahorcado_tecla p{
        padding-top: 8px;
    }
    
    
    
}




